{% extends "naked_base.html" %}
{% load i18n %}

{% block title %}Busylissy - {% trans 'Forgot password' %}{% endblock %}

{% block content %}
<p class="login-switch"><a href="{% url user_signin %}">{% trans 'Back to sign In' %}</a></p>

<section class="login-box" class="shade">
  <div class="wrapper">
	{% if form.errors %}
	<div class="errors">
	  <p>{% trans 'Error while submitting form' %}</p>
	</div>
	<br>
	{% endif %}


	<h2>{% trans 'Forgot password' %}</h2>
    <p>{% trans 'Please fill in your e-mailaddress and we will send you your new password' %}</p>
	<form action="" method="post">
	  <fieldset>
		{% for field in form %}
		<div>
		  {{ field.errors }}
		  {{ field.label_tag }} {{ field }}
		</div>
		{% endfor %}
		<p><input type="submit" name="bsignup'" value="{% trans "Send password" %}"> </p>
	  </fieldset>
	</form>
  </div>
</section>
{% endblock %}
