<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    
	<title>505 error :: You crashed our server!</title>

	<meta name="description" content="505 error" />
	<meta name="keywords" content="505 error" />


</head>

<body>
	<div id="error505">
	<h1>505 error</h1>
	<h3>Well done. You crashed our server!</h3>
	<p>Don't worry, we will fix it again. But don't do it ever again!!</p>
	</div>
	
</body>

</html>