{% extends "blproject/base.html" %}
{% load i18n dates %}

{% block title %}{{ project.name }} - {% trans 'Agenda' %} {{ event }}{% endblock %}
{% block content %}
<h2 id="content-title"><a href="{% view_by_month project.slug %}">{% trans 'Agenda' %}</a>{{ event }}</h2>

    {{ event_form.non_field_errors }}
    {{ recurring_form.non_field_errors }}
    {% if event_form.errors or recurrence_form.errors %}
    <p>{% trans 'Please fix any errors.' %}</p>
    {% endif %}

    <form action="" method="post">
        {% include "blagenda/event_form_part.html" %}
        {% include "blagenda/date_form_part.html" %}
		<div>
			<input type="submit" name="_update" value="{% trans 'Submit' %}" />
		</div>
    </form>


{% endblock %}
