{% load i18n  %}

<div class="filters">
	<h4>{% trans 'Filter Messages' %}<span> {{ thread_list.count }}</span></h4>
    <div id="selected-tags">
      {% for tag in selected_tags %}
      <a href="{% url project-thread-tag project.slug tag %}" class="tag beige">{{ tag }}</a>
      {% endfor %}
    </div>
	<h5>{% trans 'Related tags' %}</h5>
	<ul>
	  {% for tag in thread_tags %}
      {% ifnotequal tag.name project.slug %}
	  <li><a href="{% url project-thread-tag project.slug tag_url %}{{ tag }}" class="tag beige">{{ tag.name }}</a><span>{{ tag.count }}</span></li>
      {% endifnotequal %}
	{% empty %}
	<p>No tags yet</p>
	  {% endfor %}
	</ul>
</div>
